<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>

	<header>
		<nav>
			<a href="index.html">Inicio</a>
			<a href="acercade.html">Acerca de</a>
			<a href="contacto.html">Contacto</a>
			<a href="login.php">Usuario</a>
			<a href="tienda.php">Tienda</a>
		</nav>
		<section class="textos-header">
			<h1>Como te puedes contactar con</h1>
			<h2> NaturalBF</h2>
		</section>
		<div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C176.35,124.84 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
	</header>
	<main>
		<section class="clientes contenedor">
			<h2 class="titulo">Redes sociales</h2>
			<div class="cards">
				<div class="car">
					<img src="img/Facebook.jpg">
					    <div class="contenido-texto-card">
					         
					             <a href="https://www.facebook.com/naturalbf">Facebook
					             </a>
				        </div>
			    </div>
			    <div class="car">
				    <img src="img/Instagram.jpg">
				         <div class="contenido-texto-card">
					        <a href="">Instagram
					             </a>
				        </div>
			    </div>
			</div>
		</section>
		
		<section class="about-services">
			
		
				
			<h2 class="titulo">Ubicacion</h2>
			<div class="mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d559.8061909186848!2d-99.66828808379962!3d19.28618604083087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89b79276b8e5%3A0x6ace6c9aa564fdb7!2sNatural%20BF!5e0!3m2!1ses-419!2smx!4v1647220392228!5m2!1ses-419!2smx" width="100%" height="500" style="border:0;" allowfullscreen="100%" loading="lazy"></iframe>
				
			</div>
		</section>
				

		
	</main>
	<footer>
		<div class="contenedor-footer">
			<div class="content-foo">
				<h4>Telefono</h4>
				<p>7226113339</p>
			</div>
			<div class="content-foo">
				<h4>Localizacion</h4>
				<p>50080, José Luis Alamo 217, Barrio de San Bernardino, Toluca de Lerdo, Méx.</p>
			</div>
			<div class="content-foo">
				<h4>Correo electronico</h4>
				<p>NaturalBF@gmail.com</p>
			</div>
			
		</div>
		<h2 class="titulo-final">&copy; NaturalBF | Felvic</h2>
	</footer> 
</body>
</html>