<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NaturalBF</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<a href="index.html">Inicio</a>
			<a href="acercade.html">Acerca de</a>
			<a href="contacto.html">Contacto</a>
			<a href="#">Usuario</a>
			<a href="tienda.php">Tienda</a>
		</nav>
		<section class="textos-header">
			<h1>LOS MEJORES PRODUCTOS</h1>
			<h2>Bienvenido</h2>
		</section>
		<div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C176.35,124.84 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
	</header>
	<main>
		<section class="contenedor sobre-nosotros">
			<h2 class="titulo">Nuestros productos
			</h2>
			<div class="contenedor-sobre-nosotros">
				<img src="img/Portada.png" class="imagen-about-us">
				    <div class="contenido-textos">
					<h3><span>1</span>Los mejores productos</h3>
					<p>Cada producto es completamente de alta calidad y totalmente natural al momento de adquirirlo.</p>
					<h3><span>2</span>Los mejores productos</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				    </div>
			</div>
			</div>
		</section>
		<section class="portafolio">
			<div class="contenedor">
				<h2 class="titulo">Portafolio</h2>
				<div class="galeria-port">
					<div class="imagen-port">
						<img src="img/Achiote.jpg">
						<div class="hover-galeria">
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Azafran.jpg">
						<div class="hover-galeria">
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Cacahuates.jpg">
						<div class="hover-galeria">
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Canela.jpg">
						<div class="hover-galeria">
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Ajenuz.jpg">
						<div class="hover-galeria">
							
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Almendra.jpg">
						<div class="hover-galeria">
							
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Anacardos.jpg">
						<div class="hover-galeria">
							
							<p>¡Comprar ahora!</p>
						</div>
					</div>
					<div class="imagen-port">
						<img src="img/Anis.jpg">
						<div class="hover-galeria">
							
							<p>¡Comprar ahora!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="clientes contenedor">
			<h2 class="titulo">Que dicen nuestros clientes</h2>
			<div class="cards">
				<div class="car">
					<img src="img/face1.jpg">
					    <div class="contenido-texto-card">
					         <h4>Brisa</h4>
					             <p>Vaya, que si son muy ricos, se los garantizo amigos.
					             </p>
				        </div>
			    </div>
			    <div class="car">
				    <img src="img/face2.jpg">
				         <div class="contenido-texto-card">
					        <h4>Antonio</h4>
					         <p>Vaya vaya, quien diria que den una buen servicio.
					         </p>
				        </div>
			    </div>
			</div>
		</section>
		<section class="about-services">
			<div class="contenedor">
				<h2 class="titulo">Nuestros servicios</h2>
				<div class="servicio-cont">
					 <div class="servicio-ind">
					 	<img src="img/servicio1.jpg">
					 	<h3>Alta calidad</h3>
					 	<p>Cada producto es habalado y certificado por NaturalBF propiciando un mejor consumo a cada uno de nuestro clientes</p>
					 </div>
					  <div class="servicio-ind">
					 	<img src="img/servicio2.jpg">
					 	<h3>Productos</h3>
					 	<p>Contamos con mas de 20 productos alimenticios de alta calidad, garantizamos el envio a cualquier lugar del mundo.</p>
					 </div>
					  <div class="servicio-ind">
					 	<img src="img/servicio3.jpg">
					 	<h3>Envio</h3>
					 	<p>Se garantiza la llegada de su producto hasta la puerta de su casa.</p>
					 </div>
				</div>

			</div>
		</section>

	</main>
	<footer>
		<div class="contenedor-footer">
			<div class="content-foo">
				<h4>Telefono</h4>
				<p>7226113339</p>
			</div>
			<div class="content-foo">
				<h4>Localizacion</h4>
				<p>50080, José Luis Alamo 217, Barrio de San Bernardino, Toluca de Lerdo, Méx.</p>
			</div>
			<div class="content-foo">
				<h4>Correo electronico</h4>
				<p>NaturalBF@gmail.com</p>
			</div>
			
		</div>
		<h2 class="titulo-final">&copy; NaturalBF | Felvic</h2>
	</footer>

</body>
</html>